pytest
Pillow>=8.0
apache-airflow==2.3.0
# Replace the version above with the specific version of Airflow you want to use.

# Database backends (Uncomment the one you plan to use)
psycopg2-binary==2.9.3  # For PostgreSQL
mysqlclient==2.1.0  # For MySQL

# For using the CLI
click==8.0.3

# For better webserver performance
gunicorn==20.1.0

# For managing Airflow DAGs dependencies and scheduling
pendulum==2.1.2

# Optional: Airflow providers (Uncomment any that you need)
#apache-airflow-providers-amazon==3.0.0
#apache-airflow-providers-google==6.0.0
#apache-airflow-providers-apache-spark==2.0.0
#apache-airflow-providers-cncf-kubernetes==3.0.0
#apache-airflow-providers-microsoft-azure==3.3.0

# Optional: Other common tools and libraries for data engineering tasks
#pandas==1.3.4
#numpy==1.21.4
sqlalchemy==1.4.27